/* Navigation */
.navlinks {
  display: flex;
  flex: wrap;
  position: relative;
  right: 0;
}

.navitem {
  color: #dcdcde;
  padding-left: 5vw;
  transition: 0.5s;
}

.navitem:hover {
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}
