/* Global Theme Styles */
:root {
  --primary: #4e03e2;
  --secondary: #31343d;
  --accent: #31343d;
  --highlight: #b12704;
  --light: #e8e9ed;
  --dark: #343f47;
  --darker: #2b323c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 600;
  font-size: 20px;
  color: #88abb8;
}

p {
  /* font-family: "Roboto", sans-serif; */
  font-size: 16px;
  color: #9fbec9;
}

.pageContainer {
  color: var(--light);
  background-color: var(--dark);
  min-height: 100vh;
}

main {
  padding: 80px;
}

/* Behavior */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* Buttons */
.btn {
  color: var(--light);
  padding: 5px 10px;
  margin: 10px 0;
  background-color: transparent;
  border: 2px solid var(--light);
  border-radius: 25px;
}

.btn:hover {
  background-color: var(--darker);
}
