/* Global Theme Styles */
:root {
  --primary: #4e03e2;
  --secondary: #31343d;
  --accent: #88abb8;
  --highlight: #d8ecf3;
  --light: #e8e9ed;
  --dark: #343f47;
  --darker: #2b323c;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* codeFont {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-size: 20px;
  color: #d8ecf3;
}

li {
  list-style: none;
}

p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #9fbec9;
}

.pageContainer {
  color: var(--light);
  background-color: var(--dark);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  padding: 120px 80px 80px 80px;
}

/* Behavior */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

/* Buttons */
.btn {
  font-family: "Montserrat", sans-serif;
  color: var(--accent);
  padding: 5px 10px;
  margin: 10px 0;
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 25px;
  transition: 0.5s;
}

.btn:hover {
  color: #ffffff;
  background-color: var(--darker);
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header .headerLogo {
    display: block;
    margin: 5px 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
  }
}
